<a href="https://colab.research.google.com/github/manliofrp/Analitica-de-datos/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Instalar librerias
!pip install pandas
!pip install numpy
!pip install matplotlib

In [ ]:
#Importamos el archivo de datos
from google.colab import files
uploaded = files.upload()

Saving file.csv to file (1).csv

In [ ]:
#Importamos la libreria: pandas
import pandas as pd
import io

#Leemos el contenido del archivo 
df = pd.read_csv(io.BytesIO(uploaded['file.csv']), index_col=2)
#df = pd.read_csv('file.csv')
df.info()
df

#Importar archivo desde Github
#url = 'copied_raw_github_link'
#df = pd.read_csv(url)

<class 'pandas.core.frame.DataFrame'>
Index: 4554 entries, Nacional to Zacatecas
Data columns (total 6 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Periodo                                          4554 non-null   int64
 1   Trimestre                                        4554 non-null   int64
 2   Sexo                                             4554 non-null   object
 3   Poblacion_ocupada_en_la_industria_manufacturera  4554 non-null   object
 4   Poblaci n_ocupada                                4554 non-null   object
 5   Tasa_de_ocupaci n_en_la_industria_manufacturera  4554 non-null   object
dtypes: int64(2), object(4)
memory usage: 249.0+ KB

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [ ]:
#FILTROS BASICOS PARA LAS VARIABLES CUALITATIVAS
#Filtro por objeto
filtro1=df[df["Entidad_Federativa"] == "Nacional"]
filtro1

In [ ]:
#Filtro por filas
filtro2= df.iloc[50:550,: ] #filas consecutivas
#filtro2=df.iloc[ [1000, 2000, 3000] , : ] #filas no consecutivas
filtro2

In [ ]:
#Filtro por columnas
#filtro3=df.iloc[ : , 2:5] #columnas consecutivas
filtro3=df.iloc[ : , [1,4,6]] #columnas no consecutivas
filtro3

In [ ]:
#Filtro de filas vs columnas
filtro4=df.loc[["Puebla","Durango"], ["Poblacion_ocupada_en_la_industria_manufacturera"]]
filtro4 #Para aplicar este filtro requiero de una columna indice

In [ ]:
#Filtro por cabecera
filtro5=df.head()
filtro5

In [ ]:
#FILTROS BASICOS PARA VARIABLES CUANTITATIVAS
#Filtro por comparacion
filtro6=df[df["Periodo"] >= 2006]
filtro6

In [ ]:
#FILTROS BASICOS CON CONECTORES LOGICOS
#Filtro Y
filtro7=df[(df["Periodo"] > 2006) & (df["Sexo"] == "Mujeres")]
filtro7

In [ ]:
#Filtro O
filtro8=df[(df["Periodo"] > 2020) | (df["Sexo"] == "Hombre")]
filtro8

In [ ]:
#Filtro not
filtro9=df[~(df["Periodo"] >= 2006) & (df["Sexo"]  == "Mujeres")]
filtro9

In [ ]:
#Convertir archivo filtrado a csv
filtro9.to_csv("Entregable1.csv")

In [ ]:
#Descargar archivo filtrado en csv
from google.colab import files


files.download("Entregable1.csv")